.modalContainer {
    z-index: 1;
    background: white;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeIcon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.description {
    margin-top: 5px;
}

.content {
    margin: 25px 0;
}