.wrapper {
  position: relative;
  display: flex;
}

.mainContainer {
  flex: 1;
  padding-top: 70px;
  display: flex;
  position: relative;
}

.routerContainer {
  padding: 20px 0;
  max-width: 810px;
  margin: 0 auto;
}
