.detailComplete {
    width: 45%;
}

.completeContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.detail {
    margin-bottom: 25px;
}

.detailTitle {
    margin-bottom: 20px;
}

.detailTitle h3 {
    font-size: 1.2rem;
}

.detailBody {
    max-width: 600px;
    width: 100%;
}

.info {
    height: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 70px;
}