.container {
    padding: 4rem 10rem;
}

.head {
    margin-bottom: 25px;
}

.description {
    margin-bottom: 30px;
    white-space: pre-wrap;
}

.description p {
    font-size: 1rem;
    text-align: justify;
}

.members {
    margin-bottom: 20px;
}