.container {
    width: 90%;
    max-width: 450px;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    background-color: #2D3142;
}

.header {
    margin-bottom: 25px;
    color: white;
    text-align: center;
}

.hr {
    border: none;
    height: 1px;
    background-color: #DCF3FF;
    margin: 25px 0;
}

/* MEDIA QUERY PARA PANTALLAS MEDIANAS */
@media (min-width: 768px) {
    .container {
        padding: 25px 25px;
    }
}