.button {
    font: inherit;
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    border: 3px solid #26A5EA;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: #26A5EA;
    cursor: pointer;
    text-align: center;
}

.button:focus {
    outline: none;
}

.button--outlined {
    background: transparent;
    color: #26A5EA;
}


.button--disabled {
    background-color: #BA3838;
    border: 3px solid #BA3838;
}

.button--outlined--disabled {
    background-color: #b1b1b1;
    color: white;
    border: 3px solid #b1b1b1;
}