.form-control {
    margin: 1rem 0;
    position: relative;
}

.form-control label,
.form-control input,
.input-date-picker,
.form-control textarea,
.input-file-box {
    display: block;
    box-sizing: border-box;
}


.form-control label,
.input-file-container label {
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: black;
    font-size: 1rem;
    font-family: inherit;
}


.form-control button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    padding: 10px 0px;
    z-index: 5;
}

.svg-container {
    position: absolute;
    z-index: 2;
    right: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.input-file-box button {
    background-color: transparent;
    border: none;
}


.form-control button:focus {
    outline: none;
}

.form-control input,
.input-file-box {
    width: 100%;
    height: 45px;
    font: inherit;
    border: 2px solid #26A5EA;
    border-radius: 4px;
    background: #DCF3FF;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    font-weight: 600;
}

.input-date-picker fieldset {
    display: none;
}

.input-date-picker input {
    width: 100%;
    font: inherit;
    border: 2px solid #26A5EA;
    border-radius: 4px;
    cursor: pointer;
    background: #DCF3FF;
}

.input-date-picker label {
    display: none;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    background: #B4F6E1;
    border-color: #22A97E;
}

.form-control input:focus svg {
    fill: #22A97E;
}

.form-control__helper {
    padding-top: 5px;
}

.form-control__helper p {
    color: #ADADAD;
    font-size: 14px;
    margin-left: 5px;
}

.input-file-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}