.container {
    display: flex;
    min-height: 40px;
    max-height: 40px;
    margin: 10px 0 0;
}

.title,
.detail {
    padding: 10px;
    border: 1px solid #26A5EA;
    display: flex;
    align-items: center;
}

.title {
    background-color: #DCF3FF;
    border-radius: 4px 0 0 4px;
    border-right: none;
    min-width: 125px;
}

.detail {
    border-radius: 0 4px 4px 0;
    width: 250px;
    justify-content: space-between;
}

.detail p {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Button {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 150px;
}

.title p {
    font-weight: 600;
}

.detail button {
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

.detail button img {
    width: 24px;
}


.detail__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}