.container {
    display: flex;
    min-height: 40px;
    max-height: 40px;
}

.tittle,
.detail {
    padding: 10px;
    border: 1px solid #26A5EA;
    display: flex;
    align-items: center;
}

.tittle {
    background-color: #DCF3FF;
    border-radius: 4px 0 0 4px;
    border-right: none;
    min-width: 110px;
}

.detail {
    border-radius: 0 4px 4px 0;
    width: 100%;
    justify-content: space-between;
}

.Button {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.tittle p {
    font-weight: 600;
}

.detail button {
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

.detail button img {
    width: 24px;
}


.output-detail__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}