.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #e7f6fd;
    border-width: 1.5px;
    border-radius: 6px;
    border-style: dashed;
    border-color: #26A5EA;
    margin-bottom: 20px;
    cursor: pointer;
}

.container p {
    font-size: 1rem;
    font-weight: 600;
    color: #26A5EA;
    text-align: center;
}