.head {
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.head p {
    color: #787878;
    font-size: 1rem;
}

.title h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.title button {
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.body {
    display: flex;
    align-items: center;
}

.body span {
    font-size: 1.2rem;
}

.body p {
    font-size: 1rem;
}

.body span {
    margin-right: 10px;
}