.container {
    margin-bottom: 20px;
}

.container h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1.2rem;
    text-align: justify;
}

.subTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.subTitle p {
    font-size: 0.9rem;
    color: #787878;
}