.container {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.members {
    width: 55%;
}

.Button {
    width: 40%;
}

.Button button {
    height: 30px;
}

.membersDetail {
    display: flex;
    margin-top: 5px;
}

.membersDetail p,
.membersDetail span {
    font-size: 0.9rem;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.membersDetail span {
    margin-right: 5px;
}