.main-navigation__menu-btn {
  width: 3rem;
  height: 2rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.main-navigation__span-1,
.main-navigation__span-2,
.main-navigation__span-3 {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.menuButtonContainer {
  position: absolute;
  right: 3rem;
}

.logOutButton,
.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
}

.logOutButton {
  color: black;
}

.logOutButton p {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 10px;
}

.menuButton {
  color: white;
}

.menuButton:hover {
  background-color: #26A5EA;
}

.logOutButton:hover {
  background-color: #E5E5E5;
}

.menuButton p {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 5px;
}


@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
}