.container {}

.navItem {}

.LinkList {
    display: flex;
    list-style: none;
}

.LinkContainer {
    margin: 0 5px;
}

.Link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 700;
}

.Link:hover,
.Link:active,
.ActiveLink {
    background-color: #26A5EA;
}

/* MEDIA QUERY PARA PANTALLAS MEDIANAS */
@media (min-width: 768px) {}

/* MEDIA QUERY PARA PANTALLAS MEDIA-GRANDE */
@media (min-width: 992px) {}

/* MEDIA QUERY PARA PANTALLAS GRANDE */
@media (min-width: 1200px) {}

/* MEDIA QUERY PARA PANTALLAS EXTRA GRANDE */
@media (min-width: 1600px) {}