.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  background-color: #f9fdff;
}

.buttonMargin {
  margin-top: 25px;
}

.login__error {
  margin-top: 30px;
}
