.container {
    display: flex;

}

.headButton {
    margin-right: 15px;
    display: flex;
    align-items: baseline;
}

.headButton button {
    width: 2.5rem;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.headTitle {
    width: 100%;
}

.headTitle h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    text-align: justify;
}

.headTitle p {
    font-size: 1rem;
    color: #787878;
}

.headTitle span {
    font-size: 1.5rem;
}